In [67]:
#1.install jika belum terpasang : psycopg2
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\lenovo\anaconda3\lib\site-packages (2.8.4)

In [68]:
#import keperluan
import psycopg2
import pandas as pd

Requirement already satisfied: psycopg2 in c:\users\lenovo\anaconda3\lib\site-packages (2.8.4)

In [ ]:
#2.Load data dari local ke jupyter

In [69]:
campaign = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_campaign.xlsx')

In [70]:
campaign_details = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_campaign_details.xlsx')

In [71]:
delivorder = pd.read_csv('D:/@iykra.homecredit/Downloads/coba_delivorder.csv')

In [72]:
delivorder_item = pd.read_csv('D:/@iykra.homecredit/Downloads/coba_delivorder_item.csv')

In [73]:
distance = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_distance.xlsx')

In [74]:
geographic = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_geographic.xlsx')

In [75]:
plants = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_plants.xlsx')

In [76]:
produk = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_produk.xlsx')

In [77]:
sales_order = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_sales_order2.xlsx')

In [78]:
search_keyword = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_search_keyword.xlsx')

In [79]:
user_location = pd.read_excel('D:/@iykra.homecredit/Downloads/coba_user_location.xlsx')

In [ ]:
#3.cek table

In [ ]:
## cek info variabel yang ada pada tiap table
campaign.info()
# campaign_details.info()
# delivorder.info()
# delivorder_item.info()
# distance.info()
# geographic.info()
# plants.info()
# produk.info()
# sales_order.info()
# search_keyword.info()
#user_location.info()

In [ ]:
## panggil fungsi unique() pada masing2 table
unique(campaign)
# unique(campaign_details)
# unque(deliveorder)
# unique(delivorder_item)
# unique(distance)
# unique(geographic)
# unique(plants)
# unique(produk)
# unique(sales_order2)
# unique(search_keyword)
#unique(user_location)

In [80]:
#4.connect to PostgreSQL
host="127.0.0.1"
database="postgres"
user="postgres"
password ="lopt123.QED"

In [81]:
#5.Aktifkan fungsi conn cur
#conn.close()
conn = psycopg2.connect(host=host,database=database, user=user, password=password)
cur = conn.cursor()

In [82]:
#6.Bikin table
#fungsi create all table
def create_tables(conn,cur):
    """create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE public.campaign_tams (
            campaign VARCHAR(255) PRIMARY KEY,
            state VARCHAR(255),
            type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr INTEGER,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT
            )
        """,
        """
        CREATE TABLE public.campaign_details_tams
                (
                campaign VARCHAR (255) PRIMARY KEY,
                state VARCHAR (255),
                type VARCHAR (255),
                subtype VARCHAR (255),
                labels VARCHAR (255),
                bid_strategy VARCHAR (255),
                bid_strategy_type VARCHAR (255),
                sitelinks_active INTEGER,
                sitelinks_disapproved INTEGER,
                phone_active INTEGER,
                phone_disapproved INTEGER,
                apps_active INTEGER,
                apps_disapproved INTEGER,
                apps_level VARCHAR (255),
                desktop_bid_adj VARCHAR (255),
                mobile_bid_adj VARCHAR (255),
                tablet_bid_adj VARCHAR (255),
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr INTEGER,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate FLOAT
                )
        """,
        """
        CREATE TABLE public.distances_tams
                (
                from_location VARCHAR(255) PRIMARY KEY, 
                currency VARCHAR(255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate INTEGER
                )
        """,
        
        """
        CREATE TABLE public.delivorder_tams
                (
                do_id INTEGER PRIMARY KEY,
                do_tgl VARCHAR (255),
                do_org_id INTEGER,
                do_so_id INTEGER,
                do_tm_id FLOAT,
                do_nomor VARCHAR (255),
                do_driver_id FLOAT,
                do_status_verifikasi INTEGER,
                do_is_invoice INTEGER,
                do_is_tolak INTEGER,
                do_tolak_ket FLOAT,
                do_tgl_tolak FLOAT,
                do_jam_berangkat VARCHAR (255),
                do_ket FLOAT,
                do_bag_pengiriman_id FLOAT,
                do_createtime VARCHAR (255),
                do_tgl_terima VARCHAR (255),
                do_is_jurnal INTEGER,
                do_jam_terima VARCHAR (255),
                do_jam_datang_diproyek VARCHAR (255),
                do_jam_bongkar VARCHAR (255),
                do_tgl_datang_diproyek VARCHAR (255),
                do_tgl_bongkar VARCHAR (255),
                do_is_invoice_plant_utama INTEGER,
                do_stat_id FLOAT,
                do_tgl_pulang VARCHAR (255),
                do_jam_pulang VARCHAR (255),
                do_jarak_km FLOAT,
                do_ba_penolakan VARCHAR (255),
                do_pembuat_penolakan FLOAT,
                do_penyebab_penolakan VARCHAR (255),
                do_penyetuju_penolakan FLOAT,
                do_tld_id FLOAT,
                do_hari_ba_penolakan VARCHAR (255),
                do_tgl_ba_penolakan VARCHAR (255),
                do_barcode FLOAT,
                do_alasan_berkas_belum_terima FLOAT,
                do_is_berkas_diterima FLOAT,
                do_tgl_berkas_diterima VARCHAR (255),
                do_tempat_cor VARCHAR (255),
                do_lokasi_terima FLOAT
                )

        """,
        """
         CREATE TABLE public.delivorder_items_tams
                (
                id_delivorder SERIAL PRIMARY KEY,
                doi_id INTEGER,
                doi_do_id INTEGER,
                doi_soi_id INTEGER,
                doi_qty_kirim FLOAT,
                doi_qty_terima FLOAT,
                ket VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.plant_tams
                (
                plant VARCHAR (255) PRIMARY KEY,
                batching_tipe VARCHAR (255),
                batching_jml INTEGER,
                batching_kapasitas INTEGER,
                status VARCHAR (255),
                jml_truk FLOAT
                )

        """,
        """
        CREATE TABLE public.geographic_tams
                (
                id_geo SERIAL PRIMARY KEY,
                country_territory VARCHAR(255),
                region VARCHAR(255),
                metro_area VARCHAR(255),
                city VARCHAR(255),
                most_targeted_location VARCHAR(255),
                location_type VARCHAR(255),
                currency VARCHAR(255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_per_conv FLOAT,
                conv_rate FLOAT
                )
        """,
        """
        CREATE TABLE public.produk_tams    
                (
                no INTEGER PRIMARY KEY,
                mutu VARCHAR(255),
                spesifikasi VARCHAR(255),
                slump VARCHAR(255),
                spek_tambahan VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.sales_order_tams    
                (
                tanggal_pemesanan TIMESTAMP,
                nomor_kontrak_retail VARCHAR(255) PRIMARY KEY,
                pelanggan VARCHAR(255),
                jenis VARCHAR(255),
                nama_proyek VARCHAR(255),
                product VARCHAR(255),
                area VARCHAR(255),
                nilai INTEGER,
                status VARCHAR(255)
                )

        """,
        """
        CREATE TABLE public.search_keyword_tams       
                (
                id_keyword SERIAL PRIMARY KEY,
                keyword VARCHAR (255),
                keyword_status VARCHAR (255),
                keyword_match_type VARCHAR (255),
                campaign VARCHAR (255),
                ad_group VARCHAR (255),
                keyword_max_cpc INTEGER,
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost INTEGER,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_conv FLOAT,
                conv_rate FLOAT,
                avg_cpm FLOAT
                )

        """,
        """
        CREATE TABLE public.user_location_tams      
                (
                id_location SERIAL PRIMARY KEY,
                country VARCHAR (255),
                region VARCHAR (255),
                metro_area VARCHAR (255),
                city VARCHAR (255),
                most_targeted_location VARCHAR (255),
                location_type VARCHAR (255),
                currency VARCHAR (255),
                clicks INTEGER,
                impressions INTEGER,
                ctr FLOAT,
                avg_cpc FLOAT,
                cost FLOAT,
                impr_abs_top FLOAT,
                impr_top FLOAT,
                conversions FLOAT,
                view_through_conv INTEGER,
                cost_conv FLOAT,
                conv_rate FLOAT
                )
        """
        ,)
    for command in commands:
        cur.execute(command)
        conn.commit()

In [83]:
create_tables(conn,cur)

In [84]:
#7 fungsi insert values into tables in PostgreSQL
def insert_into(python_table, sql_table, conn, cur):
    # list COLUMNS
    list_columns = list(python_table.columns)
    
    # VALUES to be inserted
    value = []
    table_as_str = python_table.astype(str)
    for i in range(len(table_as_str)):
        value.append(str(tuple(table_as_str.iloc[i].to_list())))
    value = ",".join(value)
    
    sql = "INSERT INTO %s(%s) VALUES %s" % (sql_table, ", ".join(col for col in list_columns), value)
    try:
        # execute the INSERT statement
        cur.execute(sql, (sql_table,))
        # commit the changes to the database
        conn.commit()
        # close communication with the database
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [85]:
# insert values into table campaign
insert_into(campaign, 'public.campaign_tams', conn, cur)

In [92]:
# insert values into table campaign_details
insert_into(campaign_details, 'public.campaign_details_tams', conn, cur)

In [86]:
# insert values into table geographic
insert_into(geographic, 'public.geographic_tams', conn, cur)

In [87]:
# insert values into table plants
insert_into(plants, 'public.plant_tams', conn, cur)

In [88]:
# insert values into table produk
insert_into(produk, 'public.produk_tams', conn, cur)

In [89]:
# insert values into table sales_order
insert_into(sales_order, 'public.sales_order_tams', conn, cur)

In [90]:
# insert values into table search_keyword
insert_into(search_keyword, 'public.search_keyword_tams', conn, cur)

In [91]:
# insert values into table distances
insert_into(distance, 'public.distances_tams', conn, cur)

In [93]:
# insert values into table user_location
insert_into(user_location, 'public.user_location_tams', conn, cur)

In [ ]:
# insert values into table delivorder_tams
insert_into(user_location, 'delivorder_tams', conn, cur)

In [ ]:
# insert values into table delivorder_tams
insert_into(user_location, 'delivorder_items_tams', conn, cur)

In [95]:
##8fungsi untuk cek value yg unik pada tiap table : primary key, foreign key
#def unique(table) :
    #return table.nunique() == len(table)